.Project {
  text-align: center;
}

.container {
  background-color: black;
  opacity: 0.6;
  height: 100%;
  width: 100%;
  text-align: center;
}

.container-header {
  display: flex;
  flex-direction: row;
  background: gray;
  padding-left: 10px;
  padding-right: 10px;
}

.type-react-native {
  display: flex;
}

.page-heading {
  color: white;
  margin-right: auto;
  margin-top: 10px;
  padding-left: 10px;
}

.navlink-home {
  font-size: 15px;
  margin-top: 10px;
  padding-right: 10px;
  color: #ffffff;
  text-decoration: underline;
}

.download-resume {
  font-size: 15px;
  margin-top: 10px;
  color: #ffffff;
  text-decoration: underline;
}

.project-item {
  flex-direction: column;
  color: white;
  padding: 15px 0px 15px 0px;
  max-width: 50%;
}

.project-details {
  font-style: italic;
  width: 80%;
  margin: auto;
}

.project-type-name {
  text-decoration: underline;
}

.project-heading {
  text-decoration: underline;
}
