.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.backgroundApp {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("./images/Backgroud_image.jpg");
  position: absolute;
}

.name-container {
  margin: auto !important;
  z-index: 10;
}

.name-heading {
  color: #ffffff !important;
  font-family: "Raleway", sans-serif;
  font-weight: 200;
  font-size: 2em;
}

#home {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  color: white;
  position: relative;
}

.additional {
  position: relative;
}

.overlay {
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn {
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 100px;
  color: #444;
  font-family: "Lora", serif;
  font-size: 10px !important;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 13px 22px !important;
  margin-top: 42px;
  transition: all 0.4s ease-in-out;
}

.nav-link {
  padding: 8px;
  border-radius: 12px;
  width: max-content;
  margin: auto;
  border-color: white;
  color: white !important;
  border: solid;
}

.nav-link:hover {
  background-color: #23527c;
}

.added-style-share-button {
  margin: 10px !important;
}
